<h1>Twitter Search</h1>
<% form_tag search_url do %>
  <p><%= text_field_tag :query, params[:query] %>&nbsp;<%= submit_tag "Search" %></p>
<% end %>
<% if flash[:notice].present? %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if @results %>
  <ul class="results">
    <% @results.each do |result| %>
      <li class="<%= cycle('even','odd') %>">
        <%= result.text %> from <strong><%= result.name %></strong> on <em><%= result.created_at.to_s %></em>
      </li>
    <% end %>
  </ul>
<% end %>